body{
	background-color: red;
}
.text-center{
	text-align: center;
}
/*Reglas de breakpoints.*/
@media (max-width: 500px) {/* cambio breakpoints  */
	[class*="colores"] {
		width: 100%;
		background-color: aqua;
	}
}
@media (max-width: 300px) {
	[class*="colores"] {
		width: 100%;
		background-color: silver;
	}
}

